# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
.env
.venv/

# Docker
*.log
docker-compose.override.yml

# Reports (generated)
reports/
*.sarif
*.json
sonarqube/

# IDE
.vscode/
.idea/
