version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - product-api
      - order-api
  product-api:
    build: ./product-api
    ports:
      - "5001:5001"
  order-api:
    build: ./order-api
    ports:
      - "5002:5002"