apiVersion: v1
kind: Pod
metadata:
  name: kube-bench
spec:
  hostPID: true
  containers:
    - name: kube-bench
      image: aquasec/kube-bench:latest
      command: ["kube-bench", "run", "--targets", "node"]
  restartPolicy: Never
